name: CI

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  verify:
    runs-on: ubuntu-latest
    env:
      DOTNET_TFM: net10.0

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: ${{ github.workspace }}/global.json

    - name: Restore dependencies
      run: dotnet restore

    - name: Build solution
      run: dotnet build --no-restore --configuration Release

    - name: Run tests with code coverage
      run: |
        dotnet test \
          --no-restore --no-build \
          --configuration Release \
          --coverage \
          --settings ${{ github.workspace }}/test/.runsettings \
          --config-file ${{ github.workspace }}/test/testconfig.json

    - name: Publish test results
      uses: dorny/test-reporter@v2
      if: always()
      with:
        name: Test Results
        path: ${{ github.workspace }}/test/*/bin/Release/*/TestResults/*.Tests.xml
        reporter: dotnet-nunit
        fail-on-error: true
        fail-on-empty: true

    - name: Upload Api reports
      uses: actions/upload-artifact@v6
      if: always()
      with:
        name: reports-api
        path: ${{ github.workspace }}/test/Api/bin/Release/${{ env.DOTNET_TFM }}/TestResults/*.xml
        retention-days: 30
        
    - name: Upload Web reports
      uses: actions/upload-artifact@v6
      if: always()
      with:
        name: reports-web
        path: ${{ github.workspace }}/test/Web/bin/Release/${{ env.DOTNET_TFM }}/TestResults/*.xml
        retention-days: 30
